In [1]:
import pandas as pd

df1 = pd.read_csv('schools_complete.csv')

df2 = pd.read_csv('students_complete.csv')

In [2]:

unique_schools = df1['school_name'].unique()

print("List of Schools:", unique_schools)

List of Schools: ['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [7]:

school_types_df = df1[['school_name', 'type']].drop_duplicates()

print(school_types_df)

              school_name      type
0       Huang High School  District
1    Figueroa High School  District
2     Shelton High School   Charter
3   Hernandez High School  District
4     Griffin High School   Charter
5      Wilson High School   Charter
6     Cabrera High School   Charter
7      Bailey High School  District
8      Holden High School   Charter
9        Pena High School   Charter
10     Wright High School   Charter
11  Rodriguez High School  District
12    Johnson High School  District
13       Ford High School  District
14     Thomas High School   Charter

In [8]:
total_students_by_school = df2.groupby('school_name')['student_name'].count()

print("School Name", total_students_by_school)

School Name school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [11]:

total_budget_by_school = df1.groupby('school_name')['budget'].sum()

print("Budget by School:", '${:,.2f}'.format(total_budget_by_school))

TypeError: unsupported format string passed to Series.__format__

In [14]:

df1['per_capita_spending'] = df1['budget'] / df1['student_name']


average_per_capita_spending = df1.groupby('school_name')['per_capita_spending'].mean()

print(average_per_capita_spending)

KeyError: 'student_name'

In [20]:


average_reading_score_by_school = df2.groupby('school_name')['reading_score'].mean().drop_duplicates()


print(average_reading_score_by_school)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [21]:
average_math_score_by_school = df2.groupby('school_name')['math_score'].mean().drop_duplicates()


print(average_math_score_by_school)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64